header > div {
    height: 6rem;
    width: 100%;
}

header > div > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 90rem;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

[href="https://usoar.es"] {
    text-transform: uppercase;
}

a {
    letter-spacing: .1rem;
    display: inline;
    font-size: 1.6rem;
    font-family: Lato, Helvetica, sans-serif;
    font-weight: 700;
    color: #212121;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

[href="https://usoar.es"]:focus {
    color: #1565c0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
