html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    color: #212121;
    background-color: #fafafa;
    font-family: Merriweather,Georgia,serif;
    font-size: 1.6em;
    line-height: 1.8em;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.wrapper .section {
    display: flex;
    flex-direction: column;
}
